/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- */


/* ----- Fuente ----- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


/* ----- Variables ----- */
* {
	/* colores primarios*/
	--dark-cyan: hsl(158, 36%, 37%);
	--cream-color: hsl(30, 38%, 92%);
	/* colores neutrales*/
	--very-dar-blue: hsl(212, 21%, 14%);
	--dark-grayish-blue: hsl(228, 12%, 48%);
	--white-color: hsl(0, 0%, 100%);
	/* fuentes */
	--fraunces-family: 'Fraunces', serif;
	--montserrat-family: 'Montserrat', sans-serif;
}

body {
	background-color: var(--cream-color);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--fraunces-family);
}

h4,
p,
button {
	font-family: var(--montserrat-family);
}

h4,
p,
del {
	font-weight: 500;
	color: var(--dark-grayish-blue);
}

.container {
	width: 65vw;
	height: 80%;
	display: flex;
	border-radius: 15px;
	background-color: var(--white-color);
}

.img {
	width: 50%;
	height: 100%;
	background-image: url('/images/image-product-desktop.jpg');
	background-size: cover;
	background-repeat: no-repeat no-repeat;
	background-position: center center;
	border-radius: 15px 0 0 15px;
}

.inf {
	object-fit: cover;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-inline: 2.5rem;
	justify-content: space-between;

}

h1:nth-child(2) {
	color: var(--very-dar-blue);
}

h1:nth-child(1) {
	color: var(--dark-cyan);
}

button {
	background-color: var(--dark-cyan);
	border: none;
	padding: 1rem;
	border-radius: 5px;
	color: var(--white-color);
	margin-bottom: 25px;
}

.price {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */

@media screen and (max-width: 901px) {
	body {
		height: 160vh;
	}
	.container {
		width: 80%;
		height: 90%;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	.img {
		width: 100%;
		height: 40%;
		background-image: url('/images/image-product-mobile.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 15px 15px 0 0;
	}

	.inf {
		width: 80%;
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}